<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/aptestsuite/aptestsuite.css" />
    <script type="text/javascript" src="static/aptestsuite/testsuite.js"></script>
    <title>ActivityPub test suite</title>
</head>

<body>
    <div id="stream-metabox">
        <div id="stream"></div>
    </div>
    <div id="footer-metabox">
        <div id="status-wrapper">
            <b>ActivityPub Test Suite</b> :: <span id="connection-status" class="disconnected">[disconnected]</span>
            <p><a href="https://www.gnu.org/copyleft/gpl.html">GNU General Public License</a>, version 3 or later.</p>
            <div style="color: red; font-size: 1em;">
                This is an experimental rewrite of the original test suite using Python.<br>
                Do not submit test results since no one will be looking at them.
            </div>
        </div>
    </div>
</body>

</html>
