<div>
<p>
This test application is a reproduction of the original activitypub.rocks test suite.
Currently, you should only use it for experimentation or other casual purposes. The original
code is written in Guile and can be found <a href="https://gitlab.com/dustyweb/pubstrate/-/blob/master/pubstrate/aptestsuite.scm">here</a>.
<p>
<p style="color: red;">
This application is written in Python and attempts to mostly reproduce the original app. However, this implementation
is based on reverse-engineering Guile code and I may have misinterpreted something. Caveat Emptor.
</p>
</div>
