<div style="padding-left: 1.5rem;">
<p><em>
This test application is a reproduction of the original activitypub.rocks test suite. That test suite was used to generate the <a href="https://activitypub.rocks/implementation-report/">implementation reports</a>
that were published on the activitypub.rocks site. Currently, you should only use this application for experimentation or other casual purposes. The original
code is written in Guile and can be found <a href="https://gitlab.com/dustyweb/pubstrate/-/blob/master/pubstrate/aptestsuite.scm">here</a>.
This application is written in Python (<a href="https://github.com/steve-bate/rocks-testsuite">source code</a>).
</em><p>
<p style="color: red;">
This application attempts to mostly replicate the original app. However, this implementation
is based on reverse-engineering Guile code and I may have misinterpreted something. Caveat Emptor.
</p>
</div>
