{% if auth_token_endpoint %}
<p>Visit <a href='{auth_token_endpoint}'>this link</a> and fill in the auth token:
{% else %}
Unable to find OAuth endpoints... please manually insert the auth token:
{% endif %}
<dl>
    <dt><b>Auth token</b></dt>
    <dd><input type="text" name="auth-token" value={{ session.config.get("auth-token") or "" }}></dd>
</dl>
