<h2>Authorize test client</h2>
<p>In order to test properly, we need to connect
   as a client to your server.  Enter the address of an actor/user
   (we're going to cause a bit of a mess to their timeline,
   so it should probably be a one-off actor you create just for
   this purpose) along with the authentication information below:
</p>
<p><em>Note that this assumes that you're using the <a href="ttps://www.w3.org/TR/activitypub/#authorization-oauth">OAuth workflow</a></em>.
    If you are using another auth workflow, please <a href="https://gitlab.com/dustyweb/pubstrate"></a> file a bug
    so we can get it incorporated into the test suite ASAP!
</p>
<dl>
    <dt><b>Actor id (a uri)</b></dt>
    <dd><input type="text" name="actor-id" value={{ actor_uri or session.config.get("actor-id") or "" }}></dd>
</dl>
