<p>Hello! Welcome to the <a href="https://www.w3.org/TR/activitypub/">ActivityPub</a> test suite,
    part of <a href="https://activitypub.rocks/">activitypub.rocks</a>!
<p>
    {% include "disclaimer.jinja" %}
<p><em>Please don't close this tab until you've finished submitting
        your tests; your session is running as long as the tab stays open.</em></p>
